<hr>
<div class="panel panel-default">
    <div class="panel-body">
    <h4>Current Content</h4>
        <table class="table">
            {% for module in modules %}
            <tr>
                <td>{{ module.name }}</td>
                <td>{{ module.description }}</td>
                <td>{{ module.upload_dtg }}</td>

                {% if module.published %}
                    <td>
                        <a href="#!" onclick="post('{% url 'content_mgmt' %}',{action:'publish',item:'{{ module.storage }}'})">
                        Published</a>
                    </td>
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                {% else %}
                    <td>
                    <a href="#!" onclick="post('{% url 'content_mgmt' %}',{action:'publish',item:'{{ module.storage }}'})">
                        Not Published
                    </a>
                    </td>
                    <td>
                    <a href="#!" onclick="post('{% url 'content_mgmt' %}',{action:'delete',item:'{{ module.storage }}'})">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>

    </div>
</div>
   <div class="panel panel-default">
        <div class="panel panel-body">
            <form method="post" action="{% url 'content_mgmt' %}" enctype="multipart/form-data" class="form-inline">
                <fieldset>
                    <legend>Upload</legend>
                    {% csrf_token %}
                    <input type="hidden" name="action" value="upload">
                    <div class="form-group">
                        <label for="id_module">Choose File </label>
                        <input id="id_module" name="module" type="file" style="display:none;">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xs">Upload</button>
                    </div>
                </fieldset>

            </form>
        </div>
    </div>