{% load static %}
{% load humanize %}

<!DOCTYPE html>
<div>
    <head>
        <meta charset="utf-8">
        <title>
        {% block title %}
        The Daimler Learning Platform
        {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/site_custom.css' %}">
    </head>
    <body>
        <div class="container">
        <headerstyle="background-image: url({% static 'img/brushed.jpg' %})">
            <div class="page-header">
                <p class="text-center">
                    <img src="{% static 'img/img-logo-daimler-svg.svg' %}">
                </p>
            </div>
            <div>
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                {% endif %}
                {% if user.is_staff %}
                <a href="{% url 'manage' %}">Team</a> |
                {% endif %}
                <a href="{% url 'message' %}">Message Board</a> |
                <a href="{% url 'profile' %}">Profile</a> |
                <a href="{% url 'home' %}">Modules</a> |
                <a href="{% url 'logout' %}">Logout</a>
            {% endif %}
                </div>
        </header>
        {% if messages %}
        <div class="container">
            <div class="alert alert-info" role="alert">
            {% for message in messages %}
                <b>{{ message }}</b>
            {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
    </body>
    </div>
    <script src="{% static 'js/custom.js' %}"></script>
</html>