{% extends 'base.html' %}

{% block title %}Learning Modules{% endblock %}

{% block content %}
    <h2>Learning Modules</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
            {% for module in modules %}
                {% if module.published %}
                    <tr>
                        <td><a href="{% url 'module' %}{{ module.storage }}">{{ module.name }}</a></td>
                        <td>
                        {% for mod in pstats %}
                            {% if mod.module == module %}
                                {% if mod.status == "0" %}
                                    <div>Started <abbr title="{{mod.dtg}}">{{mod.dtg|timesince}}</abbr> ago</div>
                                {% elif mod.status == "100" %}
                                    <div>Finished <abbr title="{{mod.dtg}}">{{mod.dtg|timesince}}</abbr> ago</div>
                                {% else %}
                                    <div>Completed {{mod.status}}% <abbr title="{{mod.dtg}}">{{mod.dtg|timesince}}</abbr> ago</div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}