{% extends 'base.html' %}

{% block title %}Learning Modules{% endblock %}

{% block content %}
    <h2>Learning Modules</h2>

    {% if user.is_superuser %}
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <b>Superuser</b>
        </div>
        <div class="panel-body">
            <div>
                <h4><strong>Upload Content</strong></h4>
                <form method="POST" action="{% url 'content_mgmt' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="upload">
                    <input id="id_module" name="module" type="file" required />
                    <input type="submit">
                </form>
            </div>
            <hr>

            <h4><strong>Current Content</strong></h4>
            <table class="table">
                {% for module in modules %}
                <tr>
                    <td><a href="/module/detail/{{ module.storage }}">{{ module.name }}</a></td>
                    <td><code>{{ module.storage }}</code></td>
                    <td>{{ module.description }}</td>
                    <td><abbr title="{{ module.upload_dtg }}">{{ module.upload_dtg|timesince }}</abbr></td>

                    {% if module.published %}
                        <td>
                            <a href="#!" onclick="post('{% url 'content_mgmt' %}',{action:'publish',item:'{{ module.storage }}'})">
                            Published</a>
                        </td>
                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                    {% else %}
                        <td>
                        <a href="#!" onclick="post('{% url 'content_mgmt' %}',{action:'publish',item:'{{ module.storage }}'})">
                            Not Published
                        </a>
                        </td>
                        <td>
                        <a href="#!" onclick="post('{% url 'content_mgmt' %}',{action:'delete',item:'{{ module.storage }}'})">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    {% endif %}

                </tr>
                {% endfor %}
            </table>

        </div>
    </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <b>Modules</b>
        </div>
        <div class="panel-body">
            <table class="table">
            {% for module in modules %}
                {% if module.published %}
                    <tr>
                        <td><a href="{% url 'module' %}{{ module.storage }}">{{ module.name }}</a></td>
                        <td>
                        {% for mod in pstats %}
                            {% if mod.module == module %}
                                {% if mod.status == "0" %}
                                    <div>Started <abbr title="{{mod.dtg}}">{{mod.dtg|timesince}}</abbr> ago</div>
                                {% elif mod.status == "100" %}
                                    <div>Finished <abbr title="{{mod.dtg}}">{{mod.dtg|timesince}}</abbr> ago</div>
                                {% else %}
                                    <div>Completed {{mod.status}}% <abbr title="{{mod.dtg}}">{{mod.dtg|timesince}}</abbr> ago</div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}