{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<br>

<div class="panel panel-default">
    <div class="container">
        <div class="col-md-2" style="padding-top: 20px;">
            <div class="list-group" style="width: 100%">
                <a href="/manage/modules/" class="list-group-item {%if page == 'modules' %}active{%endif%}">Modules</a>
                <a href="/manage/team/" class="list-group-item {%if page == 'teams' %}active{%endif%}">Teams</a>
                <a href="/manage/users/" class="list-group-item {%if page == 'users' %}active{%endif%}">Users</a>
                <a href="/manage/invites" class="list-group-item {%if page == 'invites' %}active{%endif%}">Invites</a>
                <a href="/manage/settings" class="list-group-item {%if page == 'settings' %}active{%endif%}">*Settings</a>
            </div>

        </div>
        <div class="col-md-10">
            {% if page == 'modules' %}
            {% include '_managemodules.html' %}
            {% endif %}

            {% if page == 'teams' %}
            {% include '_manageteams.html' %}
            {% endif %}

            {% if page == 'users' %}
            {% include '_manageusers.html' %}
            {% endif %}

            {% if page == 'invites' %}
            {% include '_manageinvites.html' %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}