{% extends 'base.html' %}

{% block title %}Message Board{% endblock %}

{% block content %}

    <hr>


    <div class="container">
        <div class="col-md-4">
            <div class="list-group">
            <a href="/message/" class="list-group-item list-group-item-succes">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                &nbsp;
                <strong>New Post</strong>
            </a>
            {% for message in board %}
            {% if payload.id == message.id %}
                <a href="/message/{{message.id}}" class="list-group-item active">
            {% else %}
                <a href="/message/{{message.id}}" class="list-group-item">
            {% endif %}

                 {% for view in views %}
                    {% if view.message.id == message.id %}

                    {% else %}

                    {% endif %}
                {% endfor %}

                {{message.title}}<br>
                <small>{{ message.author.first_name }} {{ message.author.last_name }}</small>
            </a>
            {% endfor %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if payload %}
                        <div>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            &nbsp;
                            {{ payload.author.first_name }} {{ payload.author.last_name }}
                                {% if payload.author.id == request.user.id %}

                                <a href="#!" onclick="post('{% url 'message' %}',{action:'delete',item:'{{ payload.id }}'})">
                                delete
                                </a>
                                {% endif %}
                        </div>
                        <h3>{{ payload.title }}<br>
                            <small>{{ payload.posted_dtg }}</small>
                        </h3>
                        <p>{{ payload.body|linebreaks }}</p>
                    <hr>
                    {% if payload_reply %}
                    {% for reply in payload_reply %}
                        <div class="message-reply">
                            <a href="#!">{{ reply.author.first_name }} {{ reply.author.last_name }}</a>
                            &nbsp;-&nbsp;
                            {{ reply.body }}
                            <span class="muted date-right">
                                <small>{{ reply.posted_dtg }}</small>
                            </span>
                        </div>
                    {% endfor %}
                    <hr>
                    {% endif %}
                    <form class="form-horizontal" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="parent" value="{{ payload.id }}">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea name="body" class="form-control" rows="3" placeholder="Reply"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-default">Reply</button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <form class="form-horizontal" method="POST" >
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="title" id="title" placeholder="Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <textarea name="body" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-default">Post</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}