{% extends 'base.html' %}

{% block title %}Module{% endblock %}

{% block content %}
    <h2>{{ module.name }} <small>{{ module.description }}</small></h2>

    <div class="panel panel-default">
        {{ module.storage }}
        <div class="panel-body">
            {{ status }}
            Learning!
            <hr>
            <form method="post">
                {% csrf_token %}
                <input type="number" name="module_status" placeholder="Set module status (0-100)">
                <button type="submit">Go</button>
            </form>
        </div>
    </div>

{% endblock %}