
{% extends 'base.html' %}


{% block title %}Register{% endblock %}


{% block content %}
{% load static %}
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" method="post" action="{% url 'register' %}">
             <input type="hidden" name="invite" value="{{ invite }}">
            {% csrf_token %}
            <fieldset>
                <legend>Register <small>({{ invite.email }})</small></legend>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="username"><strong>Username</strong></label>
                    <div class="col-md-8">
                        <input id="username" name="username" type="text" placeholder="username" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="password"><strong>Password</strong></label>
                    <div class="col-md-8">
                        <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="password"><strong>Confirm Password</strong></label>
                    <div class="col-md-8">
                        <input id="password" name="password" type="password" placeholder="password again" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                            <input type="checkbox"> I agree to the <a target="_blank" href="{% static 'text/tos.txt' %}">Terms of Service</a> and <a target="_blank" href="{% static 'text/pp.txt' %}">Privacy Policy</a>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4">
                        <button class="btn btn-default">Register</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}