{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

    <h2>{{profile.first_name}} {{profile.last_name}}</h2>
    <small>Last login was {{ profile.last_login|timesince }} ago</small>
    <div class="container">

        {% for module in module_status %}
        <div>
            {% if module.status == "0" %}
                Started <a href="#!">{{ module.module }}</a> on {{ module.dtg }}
            {% endif %}


            {% if module.status == "100" %}
                Finished <a href="#!">{{ module.module }}</a> on {{ module.dtg }}
            {% endif %}

        </div>
        {% endfor %}

    </div>




<!--
<table class="table">
        {% for module in module_status %}
            {% if module.status == "0" %}
            <tr>
                <td>{{ module.module }}</td>
                <td><small>Started {{ module.dtg|timesince }} ago</small></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
-->


{% endblock %}